<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% load static %}
{% block body_block %}
  <h1 class="text-center pt-3">Access Records</h1>

  <div class="records m-5 border">
      {% if access_records %}
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Site Name</th>
              <th scope="col">Date Accessed</th>
            </tr>
          </thead>
          <tbody>
          {% for acc in access_records %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ acc.name }}</td>
              <td>{{ acc.date }}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
      {% else %}
      <p>NO ACCESS RECORDS FOUND!</p>
      {% endif %}
  </div>
{% endblock %}
