<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% load static %}
{% block body_block %}
  <h1 class="text-center text-uppercase pt-3">Django First Project</h1>
  <h4 class="text-center pt-2">{{insert_text}}</h4>
  <div class="container">
    
    <ul class="nav justify-content-center font-weight-bold">
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'first_app:main_page' %}">First App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'first_app:access_records' %}">Access Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'first_app:user_form' %}">User Form</a>
      </li>
    </ul>
  </div>
{% endblock %}
