<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% load static %}

{% block head_block %}
<script src="{% static 'js/user_form.js' %}"></script>
{% endblock %}

{% block body_block %}
  <h1 class="text-center pt-3">User Form</h1>
  <p class="text-center">Please fill out the form with your information!</p>

  <div class="container">
    <div class="jumbotron p-5">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputName">Name</label>
          {{ form.name }}
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="inputVerifyEmail">Confirm Email</label>
          {{ form.verify_email }}
        </div>
        <div class="form-group">
          <label for="inputText">Text</label>
          {{ form.text }}
        </div>
        <button id="submitBtn" type="submit" class="btn btn-primary container-fluid mt-3 pt-2">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}

